<div class="page-container">
    <p-progressSpinner *ngIf="loading"></p-progressSpinner>
    <div class="page-content" *ngIf="!loading && currentAlgorithm">
        <app-visualization-panel [algorithmDetails]="currentAlgorithm"></app-visualization-panel>
        <app-control-panel [algorithmDetails]="currentAlgorithm"></app-control-panel>
    </div>
    <div class="error" *ngIf="!loading && !currentAlgorithm">
        oops
    </div>
</div>
<!-- https://medium.com/frontend-coach/angular-router-animations-what-they-dont-tell-you-3d2737a7f20b -->