<div class="page-container">
    <div class="page-content" [@algorithmRouteAnimations]="outlet && outlet.activatedRouteData">
        <router-outlet #outlet="outlet" (activate)="test()"></router-outlet>
    </div>
<!--        <button class="button-flex is-primary is-primary-hover" [routerLink]="['/algorithms','binary-search']"> <- </button>-->
<!--        <button class="button-flex is-primary is-primary-hover" [routerLink]="['/algorithms','linear-search']"> -></button>-->
</div>
<!-- https://medium.com/frontend-coach/angular-router-animations-what-they-dont-tell-you-3d2737a7f20b -->
