<div class="actions" (wheel)="scrollNavigation($event)">

    <p-blockUI [target]="inputPanel" [blocked]="currentVisualizationState != visualizationStates.IDLE">
        <i class="pi pi-lock" style="font-size: 3rem"></i>
    </p-blockUI>
    <p-panel class="option-group" #inputPanel>   
        <ng-template pTemplate="header">
            <h3>Input</h3>
        </ng-template>
        <div class="columns">
            <div class="column">
                <span class="p-float-label">
                    <p-inputNumber inputId="value" #inputValue></p-inputNumber>
                    <label for="value">value</label>
                </span>
                <span class="p-float-label">
                    <p-inputNumber inputId="index" [min]="0" #inputIndex></p-inputNumber>
                    <label for="index">index</label>
                </span>
            </div>
            
            <div class="column">
                <button class="button-flex is-primary is-primary-hover" (click)="push()">push</button>
                <button class="button-flex is-primary is-primary-hover" (click)="pop()">pop</button>
            </div>
            <div class="column">
                <button class="button-flex is-primary is-primary-hover" (click)="insert()">insert</button>
                <button class="button-flex is-primary is-primary-hover" (click)="remove()">remove</button>
            </div>
            <div class="column">
                <button class="button-flex is-primary is-primary-hover" (click)="clear()">clear</button>
            </div>
        </div>
    </p-panel>

    
    <p-panel class="option-group">
        <ng-template pTemplate="header"> 
            <h3>Vizualization</h3>
        </ng-template>
        <div class="columns">
            <div class="column" *ngIf="algorithmDetails.type == algorithmTypes.Searching">
                <span class="p-float-label">
                    <p-inputNumber inputId="search" #visualizationSearchValue></p-inputNumber>
                    <label for="search">search value</label>
                </span>
            </div>
            <div class="column">
                <button class="button-flex is-primary is-primary-hover" 
                        (click)="play()" 
                        [disabled]="currentVisualizationState != visualizationStates.IDLE">
                        Play
                </button>
                <button class="button-flex is-primary is-primary-hover" (click)="restart()">Restart</button>
            </div>
            <div class="column">
                <div class="center">
                    <span>Step by Step</span>
                    <p-inputSwitch (onChange)="stepByStep()" [(ngModel)]="isStepByStepEnabled"></p-inputSwitch>
                </div>
                <button class="button-flex is-primary is-primary-hover" 
                        (click)="nextStep()" 
                        [disabled]="!isStepByStepEnabled || currentVisualizationState != visualizationStates.ANIMATING_MANUAL">
                        Next Step
                </button>
            </div>
            <div class="column">
                <button class="button-flex is-primary is-primary-hover" 
                        (click)="pause()" 
                        [disabled]="currentVisualizationState != visualizationStates.ANIMATING_AUTO" 
                        title="request stop at next available point in program">
                        Pause
                </button>
                <button class="button-flex is-primary is-primary-hover" 
                        (click)="resume()" 
                        [disabled]="currentVisualizationState != visualizationStates.ANIMATING_MANUAL">
                        Resume
                </button>
            </div>
            <div class="column">
                <div class="center animation-speed">
                    <span>Animation Speed</span>
                    <p-knob [min]="1" 
                            [max]="100" 
                            valueTemplate="{value}%" 
                            [step]="1" 
                            [(ngModel)]="animationSpeed"
                            [size]="80" 
                            (onChange)="setSpeed()"></p-knob>
                </div>
            </div>
        </div>
    </p-panel>

    <p-blockUI [target]="utilityPanel" [blocked]="currentVisualizationState != visualizationStates.IDLE">
        <i class="pi pi-lock" style="font-size: 3rem"></i>
    </p-blockUI>
    <p-panel class="option-group" #utilityPanel>
        <ng-template pTemplate="header">
            <h3>Utility</h3>
        </ng-template>
        <div class="columns">
            <div class="column">
                <span class="p-float-label">
                    <p-inputNumber inputId="elementCnt" [min]="1" #utilityNumberOfElements></p-inputNumber>
                    <label for="elementCnt">Number of Elements</label>
                </span>
            </div>
            <div class="column">
                <span class="p-float-label">
                    <p-inputNumber inputId="elementMin" #utilityMinlement></p-inputNumber>
                    <label for="elementCnt">Smallest Element</label>
                </span>
                <span class="p-float-label">
                    <p-inputNumber inputId="elementMax" #utilityMaxlement></p-inputNumber>
                    <label for="elementCnt">Biggest Element</label>
                </span>
            </div>
            <div class="column">
                <button class="button-flex is-primary is-primary-hover" (click)="reroll()">Reroll</button>
                <button class="button-flex is-primary is-primary-hover" (click)="sort()">Sort</button>
            </div>
        </div>
    </p-panel>
</div>
<div class="navigation">
    <button class="button is-primary is-primary-hover" (click)="prevPage()">
        <i class="fa-solid fa-angle-left"></i>
    </button>
    <button class="button is-primary is-primary-hover" (click)="nextPage()">
        <i class="fa-solid fa-angle-right"></i>
    </button>
    <button class="button is-primary is-primary-hover" (click)="home()">
        <i class="fa-solid fa-house"></i>
    </button>
</div>


