<div class="actions" (wheel)="scrollNavigation($event)">

    <p-blockUI [target]="inputPanel" [blocked]="!this.state.dataInputEnabled">
        <i class="pi pi-lock" style="font-size: 3rem"></i>
    </p-blockUI>
    <p-panel class="option-group" #inputPanel>
        <ng-template pTemplate="header">
            <h3>Input</h3>
        </ng-template>
        <div class="columns">
            <div class="column">
                <span class="p-float-label">
                    <p-inputNumber inputId="value" #inputValue></p-inputNumber>
                    <label for="value">value</label>
                </span>
                <span class="p-float-label">
                    <p-inputNumber inputId="index" [min]="0" #inputIndex></p-inputNumber>
                    <label for="index">index</label>
                </span>
            </div>

            <div class="column">
                <button class="button-flex is-primary is-primary-hover" (click)="push()">push</button>
                <button class="button-flex is-primary is-primary-hover" (click)="pop()">pop</button>
            </div>
            <div class="column">
                <button class="button-flex is-primary is-primary-hover" (click)="insert()">insert</button>
                <button class="button-flex is-primary is-primary-hover" (click)="remove()">remove</button>
            </div>
            <div class="column">
                <button class="button-flex is-primary is-primary-hover" (click)="clear()">clear</button>
            </div>
        </div>
    </p-panel>


    <p-panel class="option-group">
        <ng-template pTemplate="header">
            <h3>Vizualization</h3>
        </ng-template>
        <div class="columns">
            <div class="column" *ngIf="algorithmDetails.type == algorithmTypes.Searching">
                <span class="p-float-label">
                    <p-inputNumber inputId="search" #visualizationSearchValue></p-inputNumber>
                    <label for="search">search value</label>
                </span>
            </div>
            <div class="column">
                <button class="button-flex is-primary is-primary-hover"
                        (click)="play()"
                        [disabled]="!this.state.playEnabled">
                        Play
                </button>
                <button class="button-flex is-primary is-primary-hover" (click)="restart()">Restart</button>
            </div>
            <div class="column">
                <button class="button-flex is-primary is-primary-hover"
                        (click)="pause()"
                        [disabled]="!this.state.pauseEnabled"
                        title="request stop at next available point in program">
                        Pause
                </button>
                <button class="button-flex is-primary is-primary-hover"
                        (click)="resume()"
                        [disabled]="!this.state.resumeEnabled">
                        Resume
                </button>
            </div>
            <div class="column">
                <button class="button-flex is-primary is-primary-hover"
                        (click)="nextStep()"
                        [disabled]="!this.state.nextStepEnabled">
                        Next Step
                </button>
            </div>
            <div class="column">
                <div class="center animation-speed">
                    <span>Animation Speed</span>
                    <p-knob [min]="1"
                            [max]="100"
                            valueTemplate="{value}%"
                            [step]="1"
                            [(ngModel)]="animationSpeed"
                            [size]="80"
                            (onChange)="setSpeed()"></p-knob>
                </div>
            </div>
        </div>
    </p-panel>

    <p-blockUI [target]="utilityPanel" [blocked]="!this.state.utilityEnabled">
        <i class="pi pi-lock" style="font-size: 3rem"></i>
    </p-blockUI>
    <p-panel class="option-group" #utilityPanel>
        <ng-template pTemplate="header">
            <h3>Utility</h3>
        </ng-template>
        <div class="columns">
            <div class="column">
                <span class="p-float-label">
                    <p-inputNumber inputId="elementCnt" [(ngModel)]="numberOfElements" [min]="1" #utilityNumberOfElements></p-inputNumber>
                    <label for="elementCnt">Number of Elements</label>
                </span>
            </div>
            <div class="column">
                <span class="p-float-label">
                    <p-inputNumber inputId="elementMin" [(ngModel)]="minNumber" #utilityMinlElement></p-inputNumber>
                    <label for="elementCnt">Smallest Element</label>
                </span>
                <span class="p-float-label">
                    <p-inputNumber inputId="elementMax" [(ngModel)]="maxNumber" #utilityMaxElement></p-inputNumber>
                    <label for="elementCnt">Biggest Element</label>
                </span>
            </div>
            <div class="column">
                <button class="button-flex is-primary is-primary-hover" (click)="reroll()">Reroll</button>
                <button class="button-flex is-primary is-primary-hover" (click)="sort()">Sort</button>
            </div>

            <div class="column">
                <div class="center">
                    <span>hide value labes</span>
                    <p-inputSwitch (onChange)="toggleLabels()" [(ngModel)]="hideLabels"></p-inputSwitch>
                </div>
                <div class="center">
                    <span>Visualizer</span>
                    <p-dropdown [options]="visualizerFactory.visualizerList" [(ngModel)]="selectedVisualizer" (onChange)="setVisualizer()" optionLabel="name"></p-dropdown>
                </div>

            </div>
        </div>
    </p-panel>
</div>
<div class="navigation">
    <button class="button is-primary is-primary-hover" [disabled]="algorithmIndex==0" (click)="prevPage()">
        <i class="pi pi-angle-left" style="font-size: 3rem"></i>
    </button>
    <button class="button is-primary is-primary-hover" [disabled]="algorithmIndex == algorithmConfig.algorithms.list.length-1" (click)="nextPage()">
        <i class="pi pi-angle-right" style="font-size: 3rem"></i>
    </button>
<!--        <button class="button-flex is-primary is-primary-hover" [routerLink]="['/algorithms','binary-search']"> <- </button>-->
<!--    <button class="button-flex is-primary is-primary-hover" [routerLink]="['/algorithms','linear-search']"> -></button>-->
    <button class="button is-primary is-primary-hover" (click)="home()">
        <i class="pi pi-home" style="font-size: 3rem"></i>
    </button>
</div>


